[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-auth = "*"
google-api-python-client = "*"
setuptools = "*"
requests = "*"
python-dateutil = "*"
pytz = "*"
pypdf2 = "*"
reportlab = "*"
pillow = "*"
browser-cookie3 = "*"
pyyaml = "*"
flask = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
